<!DOCTYPE html> 
  <head> 
     <title>Etch n' Sketch</title> 
     <link rel="stylesheet" href='../static/style.css'/> 
  </head> 
  <body> 
		<h1>Web Controlled Etch n' Sketch</h1> 
		<h2>Author: Sean Hyacinthe </h2> 
		<h2>Control the Etch n' Sketch with Buttons Below </h2>
			<a href="/up"class="button">UP</a> 
			<a href="/down" class="button">DOWN</a>  
			<a href="/left"class="button">LEFT</a> 
			<a href="/right" class="button">RIGHT</a>
			<a href="/clear" class="button">CLEAR</a> 
			<a href="/quit" class="button">QUIT</a> 
		</h3> 
  </body> 
</html>