# Boot up for flask server 
# =======================
# By: Sean Hyacinthe
# Date: 2/1/2024
# requires download flask materials from exercises/flask/server
# 
#
[Unit]
Description=flask server started on system bootup

[Service]
WorkingDirectory=/home/debian/exercises/flask/server
ExecStart=/home/debian/exercises/flask/server/app4.py
SyslogIdentifier=flask

[Install]
WantedBy=multi-user.target
